<h1>Diceshare#index</h1>
ダイスシェア予定地

<%= form_with scope: :roll_result, url: roll_results_path , local: true do |form| %>
  <p>
    <%= form.label :名前 %><br>
    <%= form.text_field :name %>
  </p>


  <p>
    <%= form.label :面数 %><br>
    <%= form.text_field :limit_of_dice %>面
  </p>

  <p>
    <%= form.label :個数 %><br>
    <%= form.text_field :number_of_dices %>個
  </p>

  <p>
    <%= form.submit :サイコロを振る %>
  </p>

  <table>
  <tr>
    <th>名前</th>
    <th>面数</th>
    <th>個数</th>
  </tr>

  <% @roll_result.reverse_each do |roll_result| %>
    <tr>
      <td><%= roll_result.name %></td>
      <td><%= roll_result.limit_of_dice %></td>
      <td><%= roll_result.number_of_dices%></td>
    
      <% roll_result.dices.each do |dice| %>
        <td>
          <%= dice.roll %>
        </td>
      <% end %>

      <td><%= link_to '削除', roll_result_path(roll_result),
      method: :delete, data: { confirm: '削除します' } %>
    </tr>
  <% end %>

<% end %>