<font size="1"><%= @roll_result.first.created_at.strftime("%F") %>からこれまでに
<%= @roll_result.last.id %>人が合計<%= @roll_result.last.dices.last.id %>個のダイスを投げていきました。
</font>

<h1>Diceshare</h1>

<%= form_with scope: :roll_result, url: roll_results_path , local: true do |form| %>
  <table>
    <tr>
      <%= form.label :名前 %>
      <%= form.text_field :name , value:"" %>
      <p>
    </tr>
    <td>
      <%= form.text_field :limit_of_dice , size: "1" %>面ダイスを
      <%= form.text_field :number_of_dices , size: "1" %>個投げる
    </td>
    <td>
      <%= form.submit :ダイスを投げる %>
    </td>
  </table>

<% end %>
<P>
  <font size="2">
  ※ダイスの種類は1面～1000面までの整数を指定できます
  <br>
  ※ダイスの個数は1～100個まで指定できます
  </font>
</p>

<hr size="1" noshade>
<p>
  結果一覧(過去30件まで表示されます)
</p>
<% @roll_result.last(30).reverse_each do |result| %>

  <p>
    <%= result.date %>
    <br>
    　<%= result.name %>さんが<%= result.limit_of_dice %>面ダイスを<%= result.number_of_dices %>個投げました。
    <br>
    　結果は<font color="red"><%= result.rolls_list %></font>でした。(合計<%= result.rolls_sum %>)
    <br>
    -----------------------------------------------------------------------------
    </p>
<% end %>

